body{
	margin: 0;
	padding: 0;
}

ul{
	margin: 15px;
}

li{
	font-size: 18px;
}

a, a:VISITED{
	text-decoration: none;
	color: #333;
}

a:hover{
	color: #666;
}

.title {
	color: #5BAA4A;
	display: block;
	font-family: 'Open Sans', Arial, sans-serif;
	font-size: 22px;
	margin: 15px;
}

#settings{
	background-color: #F8F8F8;
	margin: 0 25px;
	padding: 10px;
}

#settings > div{
	margin-top: 10px;
}

#settings .section_title{
	font-size: 16px;
	font-weight: 700;
	margin-bottom: 15px;
	display: block;
}

#settings span {
	display: block;
	width: 190px;
}
#numbers_area{
	margin: 10px;
}

#number_canvas{
	background-color: #FFD;
	height: 400px;
	width: 400px;
	border: 1px solid #f3f3f3;
}

#user_input{
	display: inline-block;
}

#number_canvas{
	position: relative;
}

#timer{
	display: none;
	position: absolute;
	left: 500px;
	top: 20px;
	font-size: 30px;
}

#images_area{
	margin: 35px auto 10px;
	max-width: 650px;
	border: 1px solid #666;
}

/* words ordering*/
#words_area{
	max-width: 850px;
	margin : 10px auto;
	border: 1px solid #999;
}

#numbers_area{
	max-width: 850px;
	margin : 10px auto;
	border: 1px solid #999;
}


.word_item{
	background-color: #6fa;
	margin: 5px;
	display: inline-block;
	cursor: pointer;
}

.word_item.selected{
	background-color: #D00;
}

#user_answer{
	border: 1px solid #999;
	margin: 10px auto;
	max-width: 808px;
}

#random_words_order{
	position: relative;
}

#random_words_order, #drag_drop_region{
	width: 400px;
	height: 400px;
	display: inline-block;
	vertical-align: top;
}

#random_words_order{	
	background-color: #DEF;
}

#drag_drop_region{
	background-color: #DDD;
}

.placeholder{
	border: 1px solid black;
	cursor: pointer;
	display: inline-block;
	margin: 5px;
	min-height: 20px;
	width: 55px;
}

#check_your_answer{
	display: inline-block;
	margin-bottom: 10px;
}

#show_correct_order{
	display: block;
}

.grey-elem {
	background: #bbb;
}